<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>New Category</h1>
    <hr />
    <form action="" method="post" th:object="${category}">
      <label for="categoryID">CategoryID</label>
      <input
        type="text"
        th:field="*{categoryID}"
        name="categoryID"
        id="categoryID"
        readonly
      />
      <br />
      <label for="categoryName">Category Name</label>
      <input
        type="text"
        th:field="*{categoryName}"
        name="categoryName"
        id="categoryName"
      />
      <br />
      <button type="submit">Save</button>
    </form>
  </body>
</html>
