<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>List Category</h1>
    <hr />
    <table>
      <thead>
        <tr>
          <th>CategoryID</th>
          <th>Category Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="category : ${categories}">
          <td th:text="${category.CategoryId}"></td>
          <td th:text="${category.categoryName}"></td>
          <td>
            <a th:href="@{'/categories/edit/'+ ${category.categoryId}}">Edit</a>
            <a th:href="@{'/categories/delete/'+ ${category.categoryId}}"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
