<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>List Category</h1>

    <form action="@{/search}">
      <input
        type="text"
        name="keyword"
        th:value="${keyword}"
        placeholder="Search"
      />
      <button type="submit">Search</button>
    </form>
    <hr />
    <table>
      <thead>
        <tr>
          <th>CategoryID</th>
          <th>Category Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="category : ${categoryPage.content}">
          <td th:text="${category.CategoryId}"></td>
          <td th:text="${category.categoryName}"></td>
          <td>
            <a th:href="@{'/categories/edit/'+ ${category.categoryId}}">Edit</a>
            <a th:href="@{'/categories/delete/'+ ${category.categoryId}}"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>
    <div th:if="${categoryPage.totalPages > 1}">
      <ul>
        <li th:if="${categoryPage.number > 0}">
          <a th:href="@{'/categories/page?page=' + 0}">First</a>
        </li>
        <li th:if="${categoryPage.number > 0}">
          <a th:href="@{'/categories/page?page=' + ${categoryPage.number - 1}}"
            >Previous</a
          >
        </li>
        <li th:each="i : ${#numbers.sequence(0, categoryPage.totalPages - 1)}">
          <a th:href="@{'/categories/page?page=' + ${i}}">[[${i}]]</a>
        </li>
        <li th:if="${categoryPage.number + 1 < categoryPage.totalPages}">
          <a th:href="@{'/categories/page?page=' + ${categoryPage.number + 1}}"
            >Next</a
          >
        </li>
        <li th:if="${categoryPage.number + 1 < categoryPage.totalPages}">
          <a
            th:href="@{'/categories/page?page=' + ${categoryPage.totalPages - 1}}"
            >Last</a
          >
        </li>
      </ul>
    </div>
  </body>
</html>
