<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header>
      <!-- place navbar here -->
    </header>
    <main class="container d-flex justify-content-center mt-5 mb-5">
      <form action="/auth/login" method="post">
        <div class="card" style="width: 500px">
          <div class="card-body border-warning bg-success-subtle">
            <h5 class="card-title text-dark fw-bolder fs-4 text-center">Login</h5>
          </div>
          <div class="p-3">
            <label for="username" class="form-label">Username?</label>
            <input
              type="text"
              class="form-control form-control-sm"
              name="username"
              id="username"
              placeholder="Vui lòng nhập username"
            />
          </div>
          <div class="p-3">
            <label for="password" class="form-label">Password?</label>
            <input
              type="password"
              class="form-control form-control-sm"
              name="password"
              id="password"
              placeholder="Vui lòng nhập password"
            />
          </div>
          <div class="row">
            <div class="col-7">
              <div class="form-check ms-3 mb-2">
                <input
                  class="form-check-input p-2"
                  type="checkbox"
                  name="remember"
                  id="remember"
                  checked
                />
                <label class="form-check-label" for="remember">Remember me?</label>
              </div>
            </div>
            <div class="col">
              <div class="ms-5 mb-2">
                <a class="text-decoration-none" href="/forgotPassword"
                  >Forgot password?</a
                >
              </div>
            </div>
          </div>
          <div class="ms-3 mb-2">
            <button
              type="button"
              class="btn btn-sm btn-danger"
              onclick="window.location.href='/home'"
            >
              <i class="fa fa-times me-2"></i>Hủy bỏ
            </button>
            <button type="submit" class="btn btn-sm btn-primary text-end">
              <i class="fa-solid fa-right-to-bracket me-2"></i>Đăng nhập
            </button>
          </div>
          <div class="ms-3 mb-2">
            Bạn chưa có tài khoản?<a class="text-decoration-none" href="/signup"
              >Đăng ký ngay</a
            >
          </div>
        </div>
      </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      window.onload = function () {
        let success = "[[${success}]]";
        let error = "[[${error}]]";
    
        if (success && success !== "null") {
          Swal.fire({
            icon: "success",
            title: "Thành công!",
            text: success,
            timer: 3000, // Tự đóng sau 3 giây
            timerProgressBar: true, // Hiển thị thanh tiến trình
            showConfirmButton: false,
            showCloseButton: true, // Hiển thị dấu "X" để đóng tay
          });
        }
    
        if (error && error !== "null") {
          Swal.fire({
            icon: "error",
            title: "Lỗi!",
            text: error,
            timer: 3000, // Tự đóng sau 3 giây
            timerProgressBar: true, // Hiển thị thanh tiến trình
            showConfirmButton: false,
            showCloseButton: true, // Hiển thị dấu "X" để đóng tay
          });
        }
      };
    </script>
    
    <footer>
      <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <!-- FontAwesome 6.2.0 CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- (Optional) Use CSS or JS implementation -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
      integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
